{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": true
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-polyfill-corejs3",
      {
        "method": "usage-pure",
        "proposals": true
      }
    ]
  ]
}
