{
  "env": {
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "debug": true
          }
        ]
      ],
      "plugins": [
        [
          "babel-plugin-polyfill-corejs3",
          {
            "method": "usage-pure",
            "proposals": true,
            "debug": true
          }
        ]
      ]
    },
    "dev": {
      "presets": [["@babel/preset-env"]]
    }
  }
}
