{
  "presets": ["@babel/preset-typescript"],
  "env": {
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "debug": true
          }
        ]
      ],
      "plugins": [
        [
          "@babel/plugin-proposal-pipeline-operator",
          {
            "proposal": "fsharp"
          }
        ],
        [
          "babel-plugin-polyfill-corejs3",
          {
            "method": "usage-pure",
            "proposals": true,
            "debug": true
          }
        ]
      ]
    },
    "dev": {
      "presets": [["@babel/preset-env"]],
      "plugins": [
        [
          "@emotion",
          {
            "sourceMap": true,
            "autoLabel": "dev-only",
            "labelFormat": "[filename]--[local]"
          }
        ],
        [
          "@babel/plugin-proposal-pipeline-operator",
          {
            "proposal": "fsharp"
          }
        ]
      ]
    }
  }
}
